.navbarItem {  
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    display: flex;
    align-items: center;
    padding: 7px 0;
    text-decoration: none;
    color: black
}

.navbarItem:hover {
    cursor: pointer;
    background: rgb(225, 225, 225);;
}

.icon {
    height: 25px;
    margin-right: 7px;
}