.posts {
    margin: 20px;
}

.postsTitle {
    font-size: 20px;
}

.addPostButton {
    width: 100px;
    float: right;
    border: none;
    background: #304159;
    color: white;
    padding: 10px;
    font-size: 15px;
}