.App {
    max-width: 100vw;
    min-height: 100vh;
    background: rgb(241, 241, 241);
    display: grid;
    grid-template-rows: 60px 1fr;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.wrapper {
    margin: auto;
    width: 1000px;
    display: grid;
    grid-template-columns: 2fr 10fr;
    height: 100%;
}

main {
    background: #ffffff;
}
